@import "header/header.scss";
@import "button/button.scss";
@import "menu/menu.scss";
@import "brand/brand.scss";
@import "info-card/info-card.scss";
@import "about/about.scss";
@import"footer/footer.scss";
@import"reviews/reviews.scss";
@import "reset";

body {
    background-color: #fff;
}

.container {
    max-width: 1220px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width:1440px) {
        max-width: 700px;
    }

    @media screen and (max-width:768px) {
        max-width: 284px;


    }

}

a {
    text-decoration: none;
}