.brand {
    display: flex;
    align-items: center;

    &__name {
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        color: #000;

        @media screen and (max-width:768px) {
            font-family: 'Roboto';
            font-style: italic;
            font-weight: 900;
            font-size: 18px;
            line-height: 21px;

            color: #000000;
        }


    }

}