.reviews {
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);

    &__text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-align: center;

        color: #000;
        max-width: 85%;

        @media screen and (max-width:768px) {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
        }


    }

    &__author {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        min-height: 50px;
        min-width: 130px;
        color: #8E8E8E;
        border-top: 2px solid;
        align-content: center;
        border-image: linear-gradient(90.14deg, #D4145A 3.35%, #3D5BF5 91.43%);
        border-image-slice: 1;
        display: flex;
        justify-content: center;
        align-items: center;




    }

    &__item {
        display: flex;
        max-width: 536px;


        &_first {
            align-self: flex-start;
        }

        &_second {
            align-self: center;
        }

        &_third {
            align-self: flex-end;
        }
    }



    &__text-area {
        min-height: 187px;
        display: flex;
        justify-content: center;
        background-color: #fff;
        margin-top: 100px;
        position: relative;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;

        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
        border-radius: 9px;

        // @media screen and (max-width:768px) {
        //     min-height: 269px;
        // }
    }

    &__img {
        position: absolute;
        bottom: 60%;

    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__container {
        padding-bottom: 20px;
    }

}